 /dts-v1/;
#include "bcm2837.dtsi"
#include "bcm2835-rpi.dtsi"

/ {
	compatible = "raspberrypi,3-model-b", "brcm,bcm2837";
	model = "Raspberry Pi 3 Model B";

	memory {
		reg = <0 0x40000000>;
	};

	leds {
		act {
			gpios = <&gpio 47 0>;
		};

		pwr {
			label = "PWR";
			gpios = <&gpio 35 0>;
			default-state = "keep";
			linux,default-trigger = "default-on";
		};
	};

	i2c_gpio {
		compatible = "i2c-gpio";
		#address-cells = <1>;
		#size-cells = <0>;

		gpios = <&gpio 44 0
			 &gpio 45 0>;

		gpio_expander: gpio@43 {
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x43>;
			compatible = "fcs,fxl6408";
		};
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_gpio32>;
	status = "okay";
};

&hdmi {
	hpd-gpios = <&gpio_expander 4 GPIO_ACTIVE_LOW>;
};
