 /dts-v1/;
#include "bcm2837.dtsi"
#include "bcm2835-rpi.dtsi"

/ {
	compatible = "raspberrypi,3-model-b", "brcm,bcm2837";
	model = "Raspberry Pi 3 Model B";

	memory {
		reg = <0 0x40000000>;
	};

	leds {
		act {
			gpios = <&gpio 47 0>;
		};

		pwr {
			label = "PWR";
			gpios = <&gpio 35 0>;
			default-state = "keep";
			linux,default-trigger = "default-on";
		};
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_gpio32>;
	status = "okay";
};

/* Connect the GPIO expander to I2C1 */
&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_gpio44>;

	gpio_expander: gpio@43 {
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x43>;
		compatible = "fcs,fxl6408";
	};
};

bt {
	
};
